.channelsList {
    ul {
        list-style: none;
        max-height: 230px;
        overflow-y: auto;

        li {

            padding: 10px 20px;
            line-height: 30px;

            &:nth-child(odd) {
                background-color: #fff;
            }

            &:nth-child(even) {
                background-color: #f1f1f1;
            }
        }
    }

    .people {
        color: #999;
        font-size: 12px;
        width: 5Opx;
    }

    .title {
        padding-left: 10px;
        font-weight: bold;
        font-size: 18px;
    }

    .description {
        padding-left: 10px;
        font-style: italic;
    }

    .action {
        float: right;
    }
}
