@import '../../../variables';

.voteBtn-group {
  display: flex;
  flex-direction: row;
  flex-wrap: wrap;

  .voteBtn {
    display: flex;

    & input[type="radio"] {
      display: none;

      &:checked + span {
        background-color: lighten($secondary-color, 15%);
        color: white;
      }
    }

    span {
      padding: 10px;
      display: inline-block;
      border: solid 2px $secondary-color;
    }

    padding: 0;
  }

  .voteBtn + .voteBtn {
    margin-left: -2px;
  }
}


