@import '../../../variables';

.proposalHeader {
  display: flex;

  .pastille {
    margin-top: 20px;
    margin-right: 10px;
    border-radius: 50%;
    width: 20px;
    height: 20px;
    display: inline-block;
  }
}


.voteBtn-group {

  display: flex;
  flex-direction: row;
  flex-wrap: wrap;
  margin-top: 20px;

  .voteBtn {
    display: flex;

    & input[type="radio"] {
      display: none;

      &:checked + span {
        background-color: lighten(midnightblue, 15%);
        color: white;
      }
    }

    span {
      padding: 10px;
      display: inline-block;
      border: solid 2px midnightblue;
    }

    padding: 0;
  }

  .voteBtn + .voteBtn {
    margin-left: -2px;
  }
}
