@import "../variables";

@import "bootstrap";

html, body {
  min-height: 100%;
}
body {
  background-color: #eeeeef;
  font-family: 'Roboto', sans-serif;
}
h1, h2, h3, h4 {
  font-family: 'Baloo', cursive;
}

.zdemocracy-container{
  padding-right:40px;
  padding-left:40px;
}

.well {
  background-color: $main_color;
  border-radius: 0;
  box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.3), 0 6px 10px 0 rgba(0, 0, 0, 0.3);
}
.alert.fixed {
  position: fixed;
  top: 0;
  left: 0;
  width: 100%;
}


.modal {
  padding-right: 15px;
  .modal-dialog {
    width: 100%;
  }
}
@media (min-width: $large-screen) {
  .modal {
    .modal-dialog {
      width: $large-screen;
    }
  }
}
