@import "../variables";

.navbar {
  box-shadow: 0 2px 5px rgba(0,0,0,0.26);
  margin-bottom: 0;

  .navbar-brand {
    padding: 0 15px;
    h1 {
      margin-top: 5px;
      img {
        display: inline-block;
        margin-right: 1em;
      }
    }
  }

  &::after {
    background-color: $secondary-color;
    height: 4px;
    display: block !important; // Override bootstrap
  }
}
