.panel {

  & > .panel-heading {
    font-family: 'Baloo', cursive;

    background-color: #af1e3a;
    color: #fff;
    font-size: 18px;
    border-color: #ddd;
    padding: 20px 15px;
    border-bottom: 1px solid transparent;
    border-top-right-radius: 3px;
    border-top-left-radius: 3px;
  }
}
