@import "bourbon";
@import '../../variables';

.subject-item {
  &.well{
    padding:0px;
    margin-bottom:0px;
  }

  & > .row{
    line-height: 33.6px;
  }
}

button.action-button {
  border-radius: 0px!important;
}

.badge {
  margin-left:10px;
}

.coucou {
  color:blue;
}
