@import "bourbon";
@import '../../variables';

.subject-item {
  cursor: pointer;

  &.well:hover {
    background-color: darken($main_color, 10%);
  }

}

button.action-button {
  border-radius: 0px!important;
}
