$icon-font-path: '/fonts/';

$main_color: #fff;
$secondary-color: #af1e3a;

/* *** BOOTSTRAP *** */
$navbar-default-color: #464646;
$navbar-default-link-color: #464646;
$navbar-default-bg: #fff;
$well-border: $secondary-color;
