$icon-font-path: '/fonts/';

$main_color: #fff;
$secondary-color: #af1e3a;

$google-color: #db4437;

/* *** BOOTSTRAP *** */
$navbar-default-color: #464646;
$navbar-default-link-color: #464646;
$navbar-default-bg: #fff;
$well-border: $secondary-color;

// Breakpoints
$small-screen: 48em;
$large-screen: 64em;

// SideBar
$sidebar-width: 150px;
