.new-category-buttons{
  margin : 0px 10px 10px 0px;
}

.panel {

  & > .panel-heading {
    background-color: #af1e3a;
    color: #fff;
    font-size: 14px;
    border-color: #ddd;
    padding: 10px 15px;
    border-bottom: 1px solid transparent;
    border-top-right-radius: 3px;
    border-top-left-radius: 3px;
  }
}
