$reds: (
    lightest: #f7d7db,
    light: #e68b96,
    medium: #af1e3a,
    dark: #6d061a,
    darkest: #2b0008
);

$blues: (
    lightest: #a3daec,
    light: #64bcda,
    medium: #2196bd,
    dark: #0d779a,
    darkest: #025571
);

$greens: (
    lightest: #bfecd3,
    light: #86dcac,
    medium: #3cb371,
    dark: #178a4a,
    darkest: #024821
);

html, body {
  margin: 0;
  padding: 0;
}

button {
    cursor: pointer;
    outline: none;
    user-select: none;

    &.small, &.big {
      background: white;
      border: 1px solid lightgray;
      border-radius: 200px;

      &::before {
        content: attr(title);
        padding-right: 5px;
      }
    }

    &.big {
        font-size: 20px;
        vertical-align: center;
    }

    &:hover, &:focus {
      color: map-get($reds, 'medium');
      border: 1px solid map-get($reds, 'lightest');
    }

    &:active {
      background-color: map-get($reds, 'medium');
      border: 1px solid map-get($reds, 'medium');
      color: white;
    }
}

ul {
  list-style-type: none;
  margin: 0;
  padding: 0;
}

.center-columns {
    display: flex;
    flex-direction: row;
    align-items: center;
}

.center-rows {
    display: flex;
    flex-direction: column;
    align-items: center;
}
